{% if include.tag == "Java" %}
  <img src="https://img.shields.io/badge/Java-E76F00?style={{ include.style }}&logo=openjdk&logoColor=white">
{% endif %}
{% if include.tag == "Kotlin" %}
  <img src="https://img.shields.io/badge/Kotlin-7F52FF?style={{ include.style }}&logo=kotlin&logoColor=white">
{% endif %}
{% if include.tag == "Spring Boot" %}
  <img src="https://img.shields.io/badge/SpringBoot-6DB33F?style={{ include.style }}&logo=springboot&logoColor=white">
{% endif %}
{% if include.tag == "Android" %}
  <img src="https://img.shields.io/badge/Android-34A853?style={{ include.style }}&logo=android&logoColor=white">
{% endif %}
{% if include.tag == "Dart" %}
  <img src="https://img.shields.io/badge/Dart-0175C2?style={{ include.style }}&logo=dart&logoColor=white">
{% endif %}
{% if include.tag == "Flutter" %}
  <img src="https://img.shields.io/badge/Flutter-02569B?style={{ include.style }}&logo=flutter&logoColor=white">
{% endif %}
