$gab: 18px;
$radius: .25rem;

@media all and (min-width: 768px) {
  .card-wrapper {
    width: calc(50% - 9px);
  }

  #post-list .card .card-body {
    padding: 1rem 1rem .75rem 1rem;
  }
}

@media all and (min-width: 1200px) {
  .card-wrapper {
    width: calc(33.3% - 11.8px);
  }
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  @media all and (min-width: 850px) {
    margin-top: 2.5rem;
  }

  @media all and (max-width: 767px) {
    flex-direction: column;
    padding-bottom: 1rem;

    #info {
      margin-left: 0 !important;
    }

    h1 {
      margin-top: 1.5rem !important;
    }
  }

  #info {
    margin-left: 42px;
  }

  div #row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h1 {
      margin-top: 0;
      margin-bottom: .7rem;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 1rem;
      margin-left: .5rem;
      color: var(--text-muted-color);
    }
  }

  .preview-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }

  .shimmer::before {
    content: none;
  }
}

#intro {
  ul {
    padding-left: 1.2rem;
  }
}

#tech-stack {
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  img,
  .preview-img {
    display: inline-block;
    width: auto !important;
    aspect-ratio: auto !important;
    border-radius: $radius !important;

    img {
      border-radius: $radius !important;
    }
  }

  .shimmer::before {
    content: none;
  }
}

#post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gab;
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .card-wrapper {
    margin-bottom: 0 !important;
  }

  .card {
    .card-body {
      .card-title {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2rem;
      }
    }
  }

  @media all and (max-width: 767px) {
    .card-wrapper {
      width: 100%;
    }
  }
}

.card-project {
  font-size: 0;

  .me-auto {
    display: flex !important;
    flex-wrap: wrap;
    gap: 5px;

    .preview-img {
      display: inline-block;
      width: auto !important;
      aspect-ratio: auto !important;
      border-radius: $radius !important;

      img {
        border-radius: $radius !important;
      }
    }
  }
}

#prize {
  .preview-img img {
    object-position: 80% 20%;
  }
}

#activity {
  div:nth-of-type(1) {
    padding-top: .3rem;
  }

  div:not(:nth-of-type(1)) {
    padding-top: 1rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: .7rem;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 1.1rem;
    color: var(--text-muted-color);
  }

  a {
    margin-left: 0;
  }

  ul {
    padding-left: 1.2rem;
  }

  .card-prize {
    margin-bottom: .8rem !important;
  }
}

h1+.post-meta time {
  font-weight: normal;
  font-size: .9rem;
}

ul li {
  margin-bottom: .7rem;
}

#info,
#activity {
  a:hover {
    color: #d2603a !important;
    border-bottom: 1px solid #d2603a;
    text-decoration: none;
  }
}
